<div class="footer">
    <div class="linha">
        <div class="coluna-rodape">
            <p class="titulo">Serviços</p>
            <p> <a href="#primeiro">Primeiro</a></p>
            <p><a href="#segundo">Segundo</a></p>
            <p><a href="#terceiro">Terceiro</a></p>
            <p><a href="#quarto">Quarto</a></p>
        </div>
        <div class="coluna-rodape">
            <p class="titulo">Navegação</p>
            <p> <a href="#inicio">Inicio</a> </p>
            <p><a href="#servicos">Serviços</a></p>
            <p><a href="#sobre">Sobre</a></p>
            <p><a href="#equipe">Equipe</a></p>
        </div>
        <div class="links">
            <p class="titulo">Links</p>
            <p><a target="_blank"
                    href="https://www.linkedin.com/in/adriel-rosanelli-5b5018123/"><i class="icon" nz-icon
                        nzType="linkedin" nzTheme="fill"></i> <span class="texto"> Adriel Rosanelli</span> </a> </p>
            <p><a target="_blank" href="https://www.freepik.com/photos/excited-woman%22%3EExcited">Freepik</a></p>
        </div>
    </div>
</div>

<!-- <div class="footer">
    <a class="image-father" target="_blank" href="https://www.freepik.com/photos/excited-woman%22%3EExcited">
        <img class="imagem" src="assets/images/freepik.png" alt="logo da empresa">
    </a>
</div>
<div class="desenvolvedor">
    <p>Desenvolvido por : <a target="_blank"
            href="https://www.https://www.linkedin.com/in/adriel-rosanelli-5b5018123/"><i class="icon" nz-icon
                nzType="linkedin" nzTheme="fill"></i> <span class="texto"> Adriel Rosanelli</span> </a> </p>
</div> -->