<div style="display: flex;justify-content: center;">
    <div *ngIf="display == true" class="footer" id="footer">
        <button nz-button nzType="primary" (click)="onOff()"
            class="hide-button">
            <i nz-icon nzType="down" nzTheme="outline"></i>
            Ocultar
        </button>
        <div [style]="windowWidth <= 510?windowWidth <= 480?'padding-left: 11%':'padding-left: 15%': ''">
            <table>
                <tr>
                    <th></th>
                    <th>
                        <div style="color: #FFB701;font-size: 20px;" class="inner-box item">Contatos</div>
                    </th>
                    <th>
                        <div style="color: #FFB701;font-size: 20px;" class="inner-box item">Trabalhe Conosco</div>
                    </th>
                </tr>
                <tr>
                    <td rowspan="4">
                        <div class="inner-box" id="logo"><img *ngIf="windowWidth >=700" nz-image
                                nzSrc="assets\images\marca_horizontal_fundo_branco.png"
                                style="width: 250px;object-fit: contain;" /></div>
                    </td>
                    <td>
                        <div class="inner-box item"><a target="_blank"
                                style="color: #1890ff;"
                                href="https://www.instagram.com/webitconsultoria/">
                                <i nz-icon nzType="instagram" nzTheme="fill"></i>
                                {{windowWidth <= 510?'instagram':'instagram.com/webitconsultoria/'}}</a>
                        </div>
                    </td>
                    <td>
                        <div class="inner-box item" style="justify-content: center;">
                            <a target="_blank"
                                style="color: #1890ff;"
                                href="mailto:adriel16smo@gmail.com?Subject=Quero Trabaia">
                                <i nz-icon nzType="mail" nzTheme="fill"></i>
                                {{windowWidth <= 510?'email':'adriel16smo@gmail.com'}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="inner-box item"><a target="_blank"
                                style="color: #1890ff;"
                                href="https://www.facebook.com/webitconsultoria">
                                <i nz-icon nzType="facebook" nzTheme="fill"></i>
                                {{windowWidth <= 510?'facebook':'facebook.com/webitconsultoria'}}</a>
                        </div>
                    </td>
                    <td>
                        <div class="inner-box item"><a target="_blank"
                                style="color: #1890ff;"
                                href="https://www.linkedin.com/company/webit-consultoria/">
                                <i nz-icon nzType="linkedin" nzTheme="fill"></i>
                                {{windowWidth <= 510?'linkedin':'linkedin.com/company/webit-consultoria/'}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="inner-box item" style="justify-content: center;"><a target="_blank"
                                style="color: #1890ff;"
                                href="https://api.whatsapp.com/send?1=pt_BR&phone=5549991865818">
                                <i nz-icon nzType="whats-app" nzTheme="outline"></i>
                                {{windowWidth <= 510?'Whatsapp':'49 99186 5818'}}</a>
                        </div>
                    </td>
                </tr>
                </table>
        </div>
    </div>
    <ng-container>
        <div *ngIf="display == false">
            <button nz-button nzType="primary" (click)="display = !display" class="display-button">
                <i nz-icon nzType="up" nzTheme="outline"></i>
                <span>Rodapé</span>
            </button>
        </div>
    </ng-container>
</div>