.footer{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 95%;
    height: 100%;
    background-color: white;
}
.item{
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}
#logo{
    display: flex;
    height: 100%;
    justify-content: center;
}
.hide-button{
    border-top-left-radius: 20px;
    background-color: var(--cor-primaria);
    border-style: none;
}
.display-button{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    span{
    color: var(--cor-detalhe);  
    }
    i{
        color: var(--cor-detalhe);  
    }

    background-color: white;
    border-style: none;
}
table{
    width: 100%;
}