<div class="footer">
    <div class="linha">
        <div class="coluna-rodape">
            <p class="titulo">Serviços</p>
            <div *ngFor="let servico of servicos">
                <p><a [href]="'#'+servico.rota" (click)="ativo('2')">{{servico.descricao}}</a></p>
            </div>
            <!-- <p> <a href="#primeiro" (click)="ativo('2')">Primeiro</a></p>
            <p><a href="#segundo" (click)="ativo('2')">Segundo</a></p>
            <p><a href="#terceiro" (click)="ativo('2')">Terceiro</a></p>
            <p><a href="#quarto" (click)="ativo('2')">Quarto</a></p> -->
        </div>
        <div class="coluna-rodape">
            <p class="titulo">Navegação</p>
            <p> <a href="#inicio" (click)="ativo('1')">Inicio </a> </p>
            <p><a href="#servicos" (click)="ativo('2')">Serviços</a></p>
            <p><a href="#sobre" (click)="ativo('3')">Sobre</a></p>
            <p><a href="#equipe" (click)="ativo('4')">Equipe</a></p>
        </div>
        <div class="links">
            <p class="titulo">Links</p>
            <p><a target="_blank"
                    href="https://www.linkedin.com/in/adriel-rosanelli-5b5018123/"><i class="icon" nz-icon
                        nzType="linkedin" nzTheme="fill"></i> <span class="texto"> Adriel Rosanelli</span> </a> </p>
            <p><a target="_blank" href="https://www.freepik.com/photos/excited-woman%22%3EExcited">Freepik</a></p>
        </div>
    </div>
</div>

<!-- <div class="footer">
    <a class="image-father" target="_blank" href="https://www.freepik.com/photos/excited-woman%22%3EExcited">
        <img class="imagem" src="assets/images/freepik.png" alt="logo da empresa">
    </a>
</div>
<div class="desenvolvedor">
    <p>Desenvolvido por : <a target="_blank"
            href="https://www.https://www.linkedin.com/in/adriel-rosanelli-5b5018123/"><i class="icon" nz-icon
                nzType="linkedin" nzTheme="fill"></i> <span class="texto"> Adriel Rosanelli</span> </a> </p>
</div> -->