p{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: 'Poppins';
  font-weight: 600 !important;
  color: white;
  font-size: 30px;
  line-height: 25px;
}
.pai{
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: flex-end;
}
.titulo{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  line-height: 10vw;
  font-size: 8vw;
  color: var(--cor-secundaria);
}
.apresentacao{
margin-top: 40px;
font-size: 2vw;
line-height: 4vw;
color: var(--cor-detalhe);
}
.escrita{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.escrita-animation{
  animation-name: escrita;
  animation-duration: 4s;
}
.imagem{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  max-height: 100%;
  max-width: 70%;
  margin-right: 15px;
  object-fit: contain;
}
.imagem-animation{
  animation-name : imagem;
  animation-duration: 2s;

}
#contatos{
    display: flex;
    margin-inline: 15px;
    align-items: center;
    height: 100%;
    animation-name: contatos;
    animation-duration: 2s;
}
@media (max-width: 1360px) {
  .imagem{
    width: 30vw;
  }
}
@media (max-width: 1150px) {
  .pai{
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: flex-start;
  }
  .escrita{
    text-align: center;
    margin-top: 2%;
    padding-inline: 15px;
    height: fit-content;
    width: fit-content;
  }
  .titulo{
    text-align: center;
    font-size: 6vh;
    line-height: 6vh;
  }
  .apresentacao{
    margin-top: 30px;
    font-size: 3vh;
    line-height: 4vh;
  }
  .imagem{
    object-fit: contain;
    margin: 0px;
  }
  #contatos{
    margin-top: 2%;
    height: fit-content;
    order: 3 !important;
  }
}
@media (max-width:1150px) {
  .imagem{
    height: 50%;
  }
  #botao-agendar-consulta{
    margin-block: 15px;
    order: 2;
    animation-name: botao-agendar-consulta;
    animation-duration: 2s;
  }
}
@media (max-width: 767px) {
  .escrita{
    height: 75%;
  }
  .apresentacao{
    text-align: start;
    margin-top: 40px;
  }
  .titulo{
    text-align: start;
  }
  .imagem{
    display: none;
  }
}
@keyframes imagem {
  0%{
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes escrita {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes contatos {
  0%{
    opacity: 0;
    transform: translateX(-30px);
  }
}