p{
  font-family: 'Poppins';
  font-weight: 600 !important;
  color: white;
  font-size: 30px;
  line-height: 25px;
}
.pai{
margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.titulo{
line-height: 8vw;
font-size: 8vw;
color: var(--cor-secundaria);
}
.apresentacao{
margin-top: 40px;
font-size: 1.5vw;
line-height: 2vw;
color: var(--cor-detalhe);
}
.escrita{
display: flex;
flex-direction: column;
align-items: center
}
.imagem{
position: absolute;
bottom: 0px;
right: 5%;
height: 100%;
}
.container {
border: 10px solid white;
border-radius: 20px;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
@media (max-width:1360px) {
.imagem{
  height: 90%;
}
}
@media (max-width:1060px) {
.imagem{
  display: none;
}
.pai{
  width: 100%;
  margin: 0px;
}
.escrita{
  width: min-content;
}
.titulo{
  margin-inline: 5px;
  font-size: 15vw;
  line-height: 12vw;
}
.apresentacao{
  text-align: center;
  margin-inline: 5px;
  font-size: 5vw;
  line-height: 7vw;
}
}
@media (min-width:525px) and (max-width:760px) {
.titulo{
  font-size: 13vw;
  line-height: 13vw;
}
.apresentacao{
  font-size: 3vw;
  line-height: 4vw;
}
}
@media (min-width:761px) and (max-width:915px) {
.titulo{
  font-size: 10vw;
  line-height: 10vw;
}
.apresentacao{
  text-align: start;
  font-size: 3vw;
  line-height: 4vw;
}
}
@media (min-width:916px) and (max-width:1059px) {
.titulo{
  font-size: 8vw;
  line-height: 8vw;
}
.apresentacao{
  text-align: start;
  font-size: 2vw;
  line-height: 3vw;
}
}