<div class="pai" [ngStyle]="{height: windowHeightFather+'px'}">
    <div class="escrita">
        <h1 class="titulo">Bem-vindo a Webit consultorias</h1>
        <p class="apresentacao">Texto meramente ilustrativo, tentativa de frase legal e engajadora.
            Tentando fazer um texto mais longo do que duas linhas, ainda tentando.
        </p>
        <corpo-contato *ngIf="windowWidth <=900"></corpo-contato>
    </div>
    <img class="imagem" src="assets\images\teste-PhotoRoom.webp" alt="mulher negra de camisa branca sorindo">
    </div>