<div class="pai" [ngStyle]="{height: windowHeight+'px'}">
    <corpo-contato id="contatos"></corpo-contato>
    <div class="escrita">
        <h1 class="titulo">Bem-vindo à Webit Consultoria</h1>
        <p class="apresentacao">Somos uma consultoria e assistência técnica em telecomunicações. Contamos com serviços na área de redes e trabalhamos desde a avaliação, planejamento, execução até a manutenção.
        </p>
    </div>
    <a *ngIf="windowWidth <= 864"  target="_blank" id="botao-agendar-consulta" nz-button nzType="default" nzSize="large" nzShape="round" nzGhost="" href="mailto:webitconsultoria@gmail.com?subject=Agendar Consulta">
        Agendar Consulta
      </a>
    <img draggable="false"  class="imagem" src="assets\images\mulherFeliz.webp" alt="mulher negra de camisa branca sorindo">
</div>
