<div style="height: 100px;width: 10px;"></div>
<div class="pai">
    <div class="cabecalho">
        <h2>Valores da empresa</h2>
    </div>
    <div class="valores">
        <div class="conteudo">
            <i nz-icon nzType="unordered-list" class="icon" nzTheme="outline"></i>
            <h3>Valores</h3>
            <p>Honestidade, Compromisso, Profissionalismo, Inovação</p>
        </div>
        <div class="conteudo">
            <i nz-icon nzType="eye" class="icon" nzTheme="fill"></i>
            <h3>Visão</h3>
            <p>Tornar-se referencia no ramo na região</p>
        </div>
        <div class="conteudo">
            <i nz-icon nzType="star" class="icon" nzTheme="fill"></i>
            <h3>Missão</h3>
            <p>Estruturar a infraestrutura de redes da região</p>
        </div>
    </div>
</div>