<div style="height: 100px;width: 10px;"></div>
<div class="pai">
    <div class="cabecalho">
        <h1>Valores da empresa</h1>
    </div>
    <div class="valores">
        <div class="conteudo valor">
            <i nz-icon nzType="unordered-list" class="icon" nzTheme="outline"></i>
            <h3>Valores</h3>
            <p>Confiável,
                Prestativo,
                Inovador,
                Acessível,
                Jovem</p>
        </div>
        <div class="conteudo visao">
            <i nz-icon nzType="eye" class="icon" nzTheme="fill"></i>
            <h3>Visão</h3>
            <p>Ser reconhecida como líder em consultoria e serviços em telecomunicações, destacando-nos pela inovação, comprometimento e excelência, contribuindo para o avanço tecnológico e o sucesso sustentável de nossos clientes.</p>
        </div>
        <div class="conteudo missao">
            <i nz-icon nzType="star" class="icon" nzTheme="fill"></i>
            <h3>Missão</h3>
            <p>Oferecer consultoria e serviços em telecomunicações com excelência, proporcionando soluções inovadoras e personalizadas que impulsionem o sucesso e a eficiência de nossos clientes.
            </p>
        </div>
    </div>
</div>