p{
    font-family: 'Poppins';
    font-weight: 600 !important;
    color: white;
}
img{
    text-align: start !important;
}
img:hover{
    cursor: pointer;
}
.texto{
    font-family: 'Poppins';
    font-weight: 600 !important;
}
.hoverado{
    margin-bottom: 0px;
    margin-top: 13px;
    padding-bottom: 41.5px;
    overflow: hidden;
    text-align: center !important;
    align-items: center !important; //centraliza horizontalmente
    justify-content: end !important; //cetraliza verticalmente
    background-color: 0 0 0 0;
}
.hoverado:hover{
    p{
        color: var(--cor-detalhe);
    }
    border-bottom: 3px solid var(--cor-detalhe);
    cursor: pointer;
}
.agendar-consulta{
    display: flex;
    align-items: center;
}
#header{
    padding-top: 16px;
    padding-bottom: 0px;
}

#botao-agendar-consulta:hover{
    color: var(--cor-detalhe);
    border: 1px solid var(--cor-detalhe);
}