.geral{
    margin-block: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imagem{
    width: 85%;
    object-fit: contain;
}
.card-corpo{
    // width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 2px 2px gray;
    margin-inline: 20px;
}