<div id="equipe">
    <div class="geral">
                <div *ngFor="let colaborador of listaColaboradores" style="width: 250px;" class="card-corpo">
                    <img class="imagem" src="assets\images\pessoaFeliz.png" alt="">
                    <div class="textos">
                        <h3 class="nome">{{colaborador.name}}</h3>
                        <p class="cargo">{{colaborador.role}}</p>
                        <div class="fundo-falso"></div>
                    </div>
                    </div>
    </div>
    </div>