<div id="equipe" style="height: 100px;width: 10px;"></div>
<div class="cabecalho">
    <h1>Equipe</h1>
</div>
    <div class="geral">
                <div *ngFor="let colaborador of listaColaboradores" style="width: 250px;" class="card-corpo">
                    <img class="imagem" [src]="colaborador.foto" alt="colaborador da empresa">
                    <div class="textos">
                        <h3 class="nome">{{colaborador.name}}</h3>
                        <p class="cargo">{{colaborador.role}}</p>
                        <div class="fundo-falso"></div>
                    </div>
                    </div>
    </div>
