<div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="true">
    <nz-page-header-title>
        <img  [width]="largura" nz-image nzSrc="..\assets\images\baidu.png"
    />
    </nz-page-header-title>

    <nz-page-header-extra *ngIf="windowWidth >=700">
        <button *ngFor="let but of botoes" nz-button nzType="text" nzSize="large" (click)="ativou(but.name)" class="{{ativo == but.name? 'ativado':''}} hoverado">
            <p class="botao" >{{but.descricao}}</p>
        </button>
    </nz-page-header-extra>
    <nz-page-header-extra *ngIf="windowWidth <700">
        <div>
            <ng-container>
              <button nz-button nz-dropdown nzType="text" nzSize="large" [nzDropdownMenu]="menu" >
                <i nz-icon style="color: white">
                    <svg style="height: 45px!important;width: 45px;">
                      <path
                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                      />
                    </svg>
                  </i>
                </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>1st menu item length</li>
                  <li nz-menu-item>2nd menu item length</li>
                  <li nz-menu-item>3rd menu item length</li>
                </ul>
              </nz-dropdown-menu>
            </ng-container>
          </div>
    </nz-page-header-extra>
    </nz-page-header>
</div>