p{
    font-family: 'Poppins';
    font-weight: 600 !important;
    color: white;
}
// @media (max-width: 600) {
// }
img{
    text-align: start !important;
}


.hoverado{
    margin-top: 15px !important;
    overflow: hidden;
    text-align: center !important;
    align-items: center !important; //centraliza horizontalmente
    justify-content: end !important; //cetraliza verticalmente
}

.hoverado:hover{
    cursor: pointer;
}

.ativado{

    p{
        color: var(--cor-detalhe);
    }

}