#contato{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cor-secundaria);
    height: 300px;
    border-radius: 35px;
    padding-inline: 10px;
    justify-content: space-evenly;
}
.icon{
    font-size: x-large;
    color: white;
}
.icon:hover{
    color: var(--cor-detalhe);
}
@media (max-width:900px) {
    #contato{
        margin-top: 50px;
        height: 100%;
        display: flex;
        flex-direction: row;
        width: 300px;
        border-radius: 35px;
        padding-block: 10px;
        justify-content: space-evenly;
    }
}