<div id="contato">
    <a target="_blank"
        href="https://www.instagram.com/webitconsultoria/" nzTooltipTitle="instagram.com/webitconsultoria/"
        nzTooltipPlacement="right"
        nz-tooltip aria-label="instagram da Webit">
        <i class="icon" nz-icon nzType="instagram" nzTheme="fill"></i>
    </a>
    <a class="oculta-scroll" target="_blank"
        href="mailto:webitconsultoria@gmail.com"
        nzTooltipTitle="webitconsultoria@gmail.com" nzTooltipPlacement="right" nz-tooltip>
        <i class="icon" nz-icon nzType="mail" nzTheme="fill" aria-label="Mandar email para Webit"></i>
    </a>
    <a class="oculta-scroll" target="_blank"
        href="https://www.facebook.com/webitconsultoria" nzTooltipTitle="facebook.com/webitconsultoria"
        nzTooltipPlacement="right"
        nz-tooltip aria-label="Facebook da Webit">
        <i class="icon" nz-icon nzType="facebook" nzTheme="fill"></i>
    </a>
    <a class="oculta-scroll" target="_blank"
        href="https://www.linkedin.com/company/webit-consultoria/" nzTooltipTitle="linkedin.com/company/webit-consultoria/"
        nzTooltipPlacement="right" nz-tooltip>
        <i class="icon" nz-icon nzType="linkedin" nzTheme="fill" aria-label="Acessar o linkedin da Webit"></i>
    </a>
    <a  target="_blank"
        href="https://api.whatsapp.com/send?1=pt_BR&phone=5549991865818" nzTooltipTitle="49 99186 5818"
        nzTooltipPlacement="right" nz-tooltip aria-label="Whatsapp da Webit">
        <i class="icon" nz-icon nzType="whats-app" nzTheme="outline"></i>
    </a>
</div>