#contato{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cor-secundaria);
    height: 300px;
    border-radius: 35px;
    padding-inline: 10px;
    justify-content: space-evenly;
    transition: height 0.5s ease;
}
.icon{
    font-size: x-large;
    color: white;
}
.sumido{
    display: none;
}
.icon:hover{
    color: var(--cor-detalhe);
}
.fixado{
    position : fixed;
    left : 12px;
    flex-direction: column !important;
    height :100px !important;
    width :fit-content !important;
}
@media (max-width:1150px) {
    #contato{
        height: 50px;
        display: flex;
        flex-direction: row;
        width: 300px;
        border-radius: 35px;
        padding-block: 10px;
       justify-content: space-evenly;
        }
}