<div id="servicos" style="height: 100px;width: 10px;"></div>
<div class="cabecalho">
    <h1>Serviços</h1>
</div>
<div class="teste">

    <div class="servicos">
            <div class="column">
                <div class="cartao">
                    <p class="titulo">{{servicos[0].descricao}}</p>
                    <p>{{servicos[0].conteudo}}</p>
                </div>
                <div class="cartao">
                    <p class="titulo"> {{servicos[3].descricao}}</p>
                    <p>{{servicos[3].conteudo}}</p>
                </div>
            </div>
    
            <div class="column para-baixo">
                <div class="cartao">
                    <p class="titulo">{{servicos[1].descricao}}</p>
                    <p>{{servicos[1].conteudo}}</p>
                </div>
                <div class="cartao">
                    <p class="titulo">{{servicos[4].descricao}}</p>
                    <p>{{servicos[4].conteudo}}</p>
                </div>
            </div>
    
            <div class="column">
                <div class="cartao">
                    <p class="titulo" > {{servicos[2].descricao}}</p>
                    <p>{{servicos[2].conteudo}}</p>
                </div>
                <div class="cartao">
                    <p class="titulo">{{servicos[5].descricao}}</p>
                    <p>{{servicos[5].conteudo}}</p>
                </div>
            </div>
        <!-- <div class="cartao" *ngFor="let servico of servicos,let indice = index">
                <p>{{servico.descricao}}</p>
                <p>{{servico.conteudo}}</p>
        </div> -->
    </div>
</div>
<!-- <div class="timeline">
    <div *ngFor="let servico of servicos,let indice = index">
        <div [id]="servico.rota" style="height: 85px;width: 10px;"></div>
        <div [class]="'container ' + servico.lado ">
            <i class="icon fa fa-home"></i>
    
            <div class="content">
                <h2>{{servico.descricao}}</h2>
                <p>
                    {{servico.conteudo}}
                </p>
            </div>
        </div>
    </div>


</div> -->