<div id="servicos" style="height: 100px;width: 10px;"></div>
<div class="cabecalho">
    <h1>Serviços</h1>
</div>
<div class="timeline">
            <div id="primeiro" style="height: 85px;width: 10px;"></div>
    <div class="container left">
        <div class="date">
            <h3 id="titulo">Organização de infraestrutura</h3>
            <p>Teste</p>
            <p>Teste</p>
        </div>
        <i class="icon fa fa-home"></i>

        <div class="content">
            <h2 id="segundo">Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper
                pretium.
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="date">
            <h3 id="titulo">Organização de infraestrutura</h3>
            <p>Teste</p>
            <p>Teste</p>
        </div>
        <i class="icon fa fa-gift"></i>
        <div class="content">
            <h2 id="terceiro">Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper
                pretium.
            </p>
        </div>
    </div>
    <div class="container left">
        <div class="date">
            <h3>Organização de infraestrutura</h3>
            <p>Teste</p>
            <p>Teste</p>
        </div>
        <i class="icon fa fa-user"></i>
        <div class="content">
            <h2 id="quarto">Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper
                pretium.
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="date">
            <h3 id="titulo">Organização de infraestrutura</h3>
            <p>Teste</p>
            <p>Teste</p>
        </div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper
                pretium.
            </p>
        </div>
    </div>
</div>