#degrade{
    background: 
    linear-gradient(100deg, var(--cor-primaria),  var(--cor-complementar),var(--cor-secundaria));   // Marinho
    // linear-gradient(200deg, var(--cor-complementar), rgba(255,0,0,0)), // Roxo
    // linear-gradient(300deg, var(--cor-secundaria), rgba(255,0,0,0));   // Azulzinho
    // background: 
    // linear-gradient(100deg, var(--cor-primaria), rgba(0,255,0,0)),     // Marinho
    // linear-gradient(200deg, var(--cor-complementar), rgba(255,0,0,0)), // Roxo
    // linear-gradient(300deg, var(--cor-secundaria), rgba(255,0,0,0));   // Azulzinho
    background-size: 300% 300%;
    animation: colors 25s ease infinite;
}
@keyframes colors {
    0%{
        background-position:0%,50%;
    }
    50%{
        background-position:100%,50%;
    }
    100%{
        background-position:0%,50%;
    }
}
