
$cor-primaria : #04477B;
$cor-primaria-light : #3070a1;
$cor-secundaria : #5CEAD2;
$cor-complementar : #5044CC;
$cor-complementar-light : #7069c0;
$cor-detalhe : #FFB701;


:root {

    --cor-primaria : #04477B;
    --cor-primaria-light : #3070a1;
    --cor-secundaria : #5CEAD2;
    --cor-complementar : #5044CC;
    --cor-complementar-light : #7069c0;
    --cor-detalhe : #FFB701;
}
