
$cor-primaria : #04477B;
$cor-secundaria : #5CEAD2;
$cor-complementar : #5044CC;
$cor-detalhe : #FFB701;


:root {

    --cor-primaria : #04477B;
    --cor-secundaria : #5CEAD2;
    --cor-complementar : #5044CC;
    --cor-detalhe : #FFB701;
}
