<!-- <img src="../assets/images/fundo02-mobile.svg" alt="" class="teste"> -->
<div class="ui grid">
    <div class="row">
        <div id="teste" class="eight wide column">
            <img id="logo" src="..\assets\images\baidu.png" alt="">
        </div>
        <div (click)="ativou('1')" class="right floated column {{ativo == '1'? 'ativado':''}} hoverado">
            <p class="botao">Home</p>
            <i class="circle mini icon"></i>
        </div>
        <div (click)="ativou('2')" class="column {{ativo == '2'? 'ativado':''}} hoverado">
            <p class="botao">Contato</p>
            <i class="circle mini icon"></i>
        </div>
        <div (click)="ativou('3')" class="column {{ativo == '3'? 'ativado':''}} hoverado">
            <p class="botao">Sobre</p>
            <i class="circle mini icon"></i>
        </div>
        <div (click)="ativou('4')" class="column {{ativo == '4'? 'ativado':''}} hoverado">
            <p class="botao">Serviços</p>
            <i class="circle mini icon"></i>
        </div>
        <div (click)="ativou('5')" class="column {{ativo == '5'? 'ativado':''}} hoverado">
            <p class="botao">Equipe</p>
            <i class="circle mini icon"></i>
            </div>
    </div>
</div>
<corpo-home></corpo-home>