<!-- <img src="../assets/images/fundo02-mobile.svg" alt="" class="teste"> -->
<div class="ui grid">
    <div class="row" style="padding: 0px; margin: 0px;">
        <div class="two wide column hoverado">
            <img id="logo" src="..\assets\images\baidu.png" alt="">
        </div>
        <div id="logado" class="right floated column hoverado">
            <p class="botao" style="padding-bottom: 0px; margin-bottom: 0px; margin-top: 12px;">Home</p>
            <i class="circle mini icon"></i>
        </div>
        <div class="column hoverado">
            <p class="botao" style="padding-bottom: 0px; margin-bottom: 0px; margin-top: 12px;">Contato</p>
            <i class="circle mini icon"></i>
        </div>
        <div class="column hoverado">
            <p class="botao" style="padding-bottom: 0px; margin-bottom: 0px; margin-top: 12px;">Sobre</p>
            <i class="circle mini icon"></i>
        </div>
        <div class="column hoverado">
            <p class="botao" style="padding-bottom: 0px; margin-bottom: 0px; margin-top: 12px;">Serviços</p>
            <i class="circle mini icon"></i>
        </div>
        <div class="column hoverado">
            <p class="botao" style="padding-bottom: 0px; margin-bottom: 0px; margin-top: 12px;">Equipe</p>
            <i class="circle mini icon"></i>
        </div>
    </div>
</div>
<div class="ui divider"></div>