<div id="sobre" style="height: 100px;width: 10px;"></div>
<div class="sobre">
    <div class="grupo">
        <img id="imagem" src="assets\images\download.jpg" alt="ambiente de trabalho redes de computadores">
        <div class="conteudo">
            <h4 id="titulo">SOBRE NÓS</h4>
            <h2>Entenda quem somos e por que existimos</h2>
            <p>Somos uma empresa de redes que se orgulha de oferecer soluções personalizadas para cada cliente.
                Entendemos que cada empresa tem necessidades únicas e trabalhamos para entender essas necessidades e
                fornecer soluções de rede que atendam às suas necessidades específicas. Nós projetamos, implementamos e
                gerenciamos redes de computadores para empresas de todos os tamanhos, desde pequenas empresas até
                grandes corporações.
                <br>
                <br>
                Nosso objetivo é ajudar nossos clientes a alcançar seus objetivos empresariais através da tecnologia da
                rede. Acreditamos que as redes de computadores são a base da comunicação e colaboração empresarial e
                estamos comprometidos em fornecer soluções de rede confiáveis e eficientes que permitam que nossos
                clientes aumentem sua produtividade e competitividade. Nós fornecemos suporte e gerenciamento de rede
                continuamente para garantir que nossos clientes estejam sempre funcionando com segurança e eficiência.
            </p>
        </div>
    </div>
</div>