$largura-sobre: 20%;
.grupo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block: 35px;
    width: 70%;
}
.conteudo{
    display: flex;
    margin-inline: 30px;
    flex-direction: column;
    justify-content: space-evenly;
}
#imagem{
    border-radius: 20px;
    width: 100%;
}

#sobre{
    font-size: medium;
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor-complementar-light);
    // height: calc(var(--largura-sobre) *2) !important;
    height: 500px;
}
#titulo{
    letter-spacing: 4px;
    font-weight: 500;
    color: var(--cor-secundaria);
}
