<div id="sobre" style="height: 100px;width: 10px;"></div>
<div class="sobre">
    <div class="grupo">
        <img id="imagem" src="assets\images\download.jpg" alt="">
        <div class="conteudo">
            <h4 id="titulo">SOBRE NÓS</h4>
            <h2>Entenda quem somos e por que existimos</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, rem commodi aperiam a quod quaerat. Accusamus
                suscipit distinctio aut eligendi. Assumenda officia maiores ad asperiores delectus quisquam tempore atque
                error!
                <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum laudantium quasi temporibus cum expedita
                voluptatibus, ipsam sed eum beatae quos. Maxime eos quasi error laboriosam inventore odit, explicabo facere.
                Facilis.
                <br>
                <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore dicta asperiores atque quod mollitia,
                quidem quae aperiam optio harum a nisi minus error ipsam aspernatur cumque vitae, doloribus corrupti maxime!
            </p>
        </div>
    </div>
</div>