.container{
    width: 100%;
    // background: 
    // linear-gradient(100deg, var(--cor-primaria), rgba(0,255,0,0)),     // Marinho
    // linear-gradient(200deg, var(--cor-complementar), rgba(255,0,0,0)), // Roxo
    // linear-gradient(300deg, var(--cor-secundaria), rgba(255,0,0,0)),   // Azulzinho
}
.centered{
    height: 900px;
}
p{
    font-family: 'Poppins';
    color: white;
}
.swiper {
    width: auto;
    height: 100%;
    
  }
  .swiper-slide{
      object-fit: fill;
      height: 450px;
  }
  img{
      border-radius: 15px;
  }