.container{
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(100deg, var(--cor-primaria), rgba(0,255,0,0)),     // Marinho
    linear-gradient(200deg, var(--cor-complementar), rgba(255,0,0,0)), // Roxo
    linear-gradient(300deg, var(--cor-secundaria), rgba(255,0,0,0)),   // Azulzinho
}
p{
    font-family: 'Poppins';
    color: white;
}