p{
    font-family: 'Poppins';
    font-weight: 600 !important;
    color: white;
    font-size: 30px;
    line-height: 25px;
}
.pai{
    display: flex;
    justify-content: center;
    height: 100%;
    padding-bottom: 16px;
}
.texto{
    text-align: center;
    justify-content: center;
    width: 40%;
    align-self: center;
    // position: absolute;
}
.imagem{
    width: 20%;

    object-fit:contain;
}